
@{
    ViewBag.Title = "Api";
}

<h2>Api</h2>

<form action="http://localhost:18138/api/GrafoApi" enctype="multipart/form-data" method="POST">
    <p>
        <label for="relatedFile">Arquivo:</label>
        <input name="relatedFile" size="40" type="file">
    </p>
    <p><input type="submit" class="btn btn-primary"></p>
</form>